@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

:root {
    font-family: JetBrainsMono;
    color: white;
}

body {
    background-color: rgba(60, 60, 60, 1);
}

a {
    color: aqua;
}