@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

* {
    font-family: JetBrainsMono;
    color: white;
    
    scrollbar-color: #2C2C2C #1B1B1B;
    scrollbar-width: thin;
}

body {
    background-color: rgba(60, 60, 60, 1);
}

a {
    color: aqua;
}

button {
    border: none;
    cursor: pointer;
}